img{
    
    position: relative;
    width: 100%;
    height: auto;
    position: relative;
}
.container1{
    padding-top: 20px;
    width: 90% !important;
    margin: auto;
    text-align: center;
}
.card{
    height: auto;
    border: none !important;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 10px;
  margin-top: 30px;
    
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.info-card {
    width: 100%;
    
    position: relative;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    overflow: hidden;
}
.info-card .info-card-details,
.info-card .info-card-details .info-card-header  {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    padding: 0 15px;
    background: rgb(219, 215, 215);
    text-align: center;
}
.info-card .info-card-details::-webkit-scrollbar {
    width: 8px;
}
.info-card .info-card-details::-webkit-scrollbar-button {
    width: 8px;
    height: 0px;
}
.info-card .info-card-details::-webkit-scrollbar-track {
    background: transparent;
}
.info-card .info-card-details::-webkit-scrollbar-thumb {
    background: rgb(160, 160, 160);
}
.info-card .info-card-details::-webkit-scrollbar-thumb:hover {
    background: rgb(130, 130, 130);
}           


.info-card:hover .info-card-details {
    bottom: 0px;
    overflow: auto;
    
}
.info-card:hover  {
    position: relative;
    bottom: 0px;
    padding-top: 30px;
    
}
.info-card{
    color: black;
    text-align: center !important;
}
